name: Collect Series
on:
  schedule:
  - cron: 00 12 * * 0

jobs:
  Collect-Fred-Series:
    runs-on: ubuntu-latest
    steps:
      - run: echo "FRED Series are collected"
      - name: checkout repo content
        uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
          cache: 'pip'
      - run: pip install -r requirements.txt
      - name: Get date
        run: echo "MY_DATE=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV
      - name: Collecting FRED series
        run: |
          echo Running File...
          status=$(python Methodology/obtain_series.py ${{ secrets.VERY_SECRET_VALUE }} > logs/${{ env.MY_DATE }}.txt 2>&1; echo $?)
          cat logs/${{ steps.date.outputs.today }}.txt
          echo ::set-output name=status::$status
      - name: Commit files and log
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add -A
          git checkout master
          git diff-index --quiet HEAD || git commit -am "Update FRED Series"
          git push
      - name: Check run status
        if: steps.run.outputs.status != '0'
        run: exit "${{ steps.run.outputs.status }}"
